body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Full viewport height */
    background: linear-gradient(135deg, #1E293B, #020617);
    display: flex;
    flex-direction: column;
}

main {
    padding: 0px 142px;
}

/* for nav bar */

nav {
    height: 64px;
    background: rgba(15, 23, 42, 0.8);
    padding: 0px 142px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 16px;
    color: #D1D5DB;
    border-bottom: 1px solid rgba(229, 231, 235, 0.2);
    position: relative /* needed for dropdown menu */
}

nav img {
    height: 64px;
    width: auto;
}

.hamburger-icon {
    display: none;
    font-size: 32px;
    color: #D1D5DB;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 48px;
    margin: 0;
    padding: 0;
}

nav ul li {
    letter-spacing: 0.1em;
}

nav ul li a,
nav ul li a:visited {
    color: #D1D5DB;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a.active {
    color: #FFFFFF;
    text-decoration: underline;
    text-underline-offset: 6px;
}

@media (max-width: 768px) {

    nav {
        padding: 0 12px;
    }

    nav img {
        height: 40px;
    }

    .hamburger-icon {
        display: block;
        background-color: rgba(15, 23, 42);
        font-size: 24px;
    }

    nav ul {
        position: absolute;
        top: 64px;
        left: 0;
        width: 100%;
        flex-direction: column;
        gap: 24px;
        padding: 24px 0;
        display: none;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        text-align: center;
    }
}

/* for footer */

footer {
    min-height: 120px;
    background: #0F172A;
    margin: 0;
    padding: 0; 
    border-top: 1px solid rgba(229, 231, 235, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: Tahoma, Arial, sans-serif;
    color: #D1D5DB;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 14px;
}

footer a, footer a:visited {
    color: #D1D5DB;
    text-decoration: none;
}

footer a:hover {
    color: #FFFFFF;
    text-decoration: underline;
    text-underline-offset: 6px;
}

footer p {
    margin: 0 0 8px 0;
}

.copyright {
    font-size: 12px;
}

@media (max-width: 768px) {

    footer {
        height: 32px;
        padding: 32px 16px;
        font-size: 12px;
        letter-spacing: 0.05em;
    }

    footer p {
        margin-bottom: 12px;
    }

    .copyright {
        font-size: 11px;
    }
}

/* for home page */

.hero {
    display: flex;
    gap: 30px;
    align-items: center
}

.hero_content, .hero_image{
    padding: 40px 0px;
}

.hero_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%
}

h1, h2, h3 {
    font-family: Arial, sans-serif;
    color: #F8FAFC;
    letter-spacing: 0.05em;
    margin: 0 0 8px 0
}

h1 {
    font-size: 40px;
} 

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px
}

p {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 16px;
    color: #F8FAFC;
    letter-spacing: 0.1em;
}

.hero p {
    margin: 24px 0;
}

.about {
    padding: 40px 0px;
}

.about h3 {
    text-align: center;
}

@media (max-width: 768px){
    main {
        padding: 0px 24px;
    }

    .hero {
        flex-direction: column-reverse;
        gap: 20px;
        width: 100%
    }

    .hero_content, .hero_image {
        width: 100%;
        padding: 0;
        justify-content: center;
    }

    .hero_image img {
        padding: 12px 0 0 0;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        display: block;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

    .about {
        padding: 24px 0;
        width: 100%
    }
}

/* for project page */

.project-heading {
    text-align: center;
    padding: 25px 0px;
}

.project-container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto;
}

.project-item {
    background-color:#1e1e1e;
    border: .1px solid #D1D5DB;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;

    transition: background-color 0.25s ease, transform 0.25s ease;
}

.project-item:hover{
    background-color: #102844;
    transform: translateY(-5px);
}

.project-item img {
    width: 100%;
    height: 180px;          /* pick a consistent height */
    object-fit: cover;
    border-radius: 6px;
    display: block;
}

.project-item h2 {
    font-size: 16px;
    padding: 10px 0px;
}

.project-item p {
    font-size: 12px;
}

@media (max-width: 768px) {
    .project-container {
        display: grid;
        grid-template-columns: auto; /* Single column */
        gap: 20px; /* Adjust gap for mobile */
        padding: 0 10px 10px 10px;
    }

    .project-item img {
        height: 120px; /* Optional: slightly taller for single column */
    }

    .project-item h2 {
        font-size: 14px; /* Smaller heading for mobile */
    }

    .project-item p {
        font-size: 12px; /* Keep description readable */
    }
}

/* for contact page */

.contact-main {
    display: flex;
    flex-wrap: wrap; /* allow items to go to next line */
    gap: 20px;
}

.contact-intro {
    flex: 1 1 100%;
    text-align: center;
}

.contact-info,
.contact-form {
    flex: 1 1 0; /* each takes equal remaining space */
    border: 1px solid #D1D5DB;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    color: #CBD5E1; 
    border-radius: 10px;
}

.contact-info ul {
    list-style: none;
}

.contact-info ul li {
    padding: 10px 0px;
}

.contact-info ul li a,
.contact-info ul li a:visited {
    color: #F8FAFC;
    text-decoration: none;
}

.contact-info ul li a:hover {
    color: #FFFFFF;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px 0px;
    font-size: 14px;
    color: #F8FAFC;
    background-color: #0f172a;
    border: 1px solid #334155;
    border-radius: 8px;
}

/* for videoDemo page */

