body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Full viewport height */
    background: linear-gradient(135deg, #0F172A, #1E293B);
    display: flex;
    flex-direction: column;
}

/* for nav bar */

nav {
    height: 64px;
    background: rgba(15, 23, 42, 0.8);
    padding: 0px 142px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 16px;
    color: #D1D5DB;
    border-bottom: 1px solid rgba(229, 231, 235, 0.2);
}

nav img {
    height: 64px;
    width: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 48px;
    margin: 0;
    padding: 0;
}

nav ul li {
    letter-spacing: 0.1em;
}

nav ul li a,
nav ul li a:visited {
    color: #D1D5DB;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a.active {
    color: #FFFFFF;
    text-decoration: underline;
    text-underline-offset: 6px;
}

/* for footer */

footer {
    height: 120px;
    background: #0F172A;
    margin: 0;
    padding: 0; 
    border-top: 1px solid rgba(229, 231, 235, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Tahoma, Arial, sans-serif;
    color: #D1D5DB;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 14px;
}

footer a, footer a:visited {
    color: #D1D5DB;
    text-decoration: none;
}

footer a:hover {
    color: #FFFFFF;
    text-decoration: underline;
    text-underline-offset: 6px;
}

footer p {
    margin: 0 0 8px 0;
}

.copyright {
    font-size: 12px;
}

main{
    flex-grow: 1;
}